.HomePageWelcome {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    
}

.HomePageWelcome h1 {
    color: #1a237e;
}

.HomePageWelcome a {
    text-decoration: none;
}
.HomePageWelcome button {
    padding: 10px 30px;
}

.HomePage {
    padding: 20px 20px;
    margin: 10px auto;
    width: 90%;
    box-sizing: border-box;
}

@media(max-width: 1024px) {
    .HomePage {
        width: 100%;
    }
}