.SurveyEditerPage {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    box-sizing: border-box;
}
.SurveyEditerPage .SurveyPreview {
    width: 100%;
    min-height: 40vh;
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 0 15px;
    box-sizing: border-box;
}

.SurveyEditerPage .SideBar {
    width: 100%;
    min-height: 20vh;
    /* position: fixed; */
    bottom: 0;
    right: 0;
    background-color: white;
    box-sizing: border-box;
}

.SurveyEditerPage .Footer {
    text-align: center;
}

.SurveyEditerPage .Footer button {
    padding: 5px;
}

@media(min-width: 799px) {
    .SurveyEditerPage {
        width: 85%;
        min-height: 600px;
        box-shadow: 0 3px 4px #254E70;
        margin: 0 auto;
        border-radius: 3px;
        display: flex;
        box-sizing: border-box;
    }
    
    .SurveyEditerPage .SurveyPreview {
        width: 70%;
        min-height: 1000px;
        box-shadow: 0 2px 3px #9F9A9A;
        margin: 3px 3px;
        padding: 20px 30px;
        border-radius: 3px;
        box-sizing: border-box;
    }
    
    .SurveyEditerPage .SideBar {
        width: 30%;
        min-height: 500px;
        position: initial;
        box-shadow: 0 2px 3px #9F9A9A;
        margin: 3px 3px;
        border-radius: 3px;
        box-sizing: border-box;
    }
    
    .SurveyEditerPage .Footer {
        text-align: center;
    }
    
    .SurveyEditerPage .Footer button {
        padding: 10px;
    }
    
    button {
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover,
    button:focus {
        color: white;
        background-color: #254E70;
    }
    
    button:active {
        color: white;
        background-color: #40A4C8;
    }
    
}