/* .SurveyEditerPage {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    box-sizing: border-box;
}
.SurveyEditerPage .SurveyPreview {
    width: 100%;
    min-height: 40vh;
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 0 15px;
    box-sizing: border-box;
}

.SurveyEditerPage .SideBar {
    width: 100%;
    min-height: 20vh;
    bottom: 0;
    right: 0;
    background-color: white;
    box-sizing: border-box;
}

.SurveyEditerPage .Footer {
    text-align: center;
}

.SurveyEditerPage .Footer button {
    padding: 5px;
}


@media(min-width: 799px) {
    .SurveyEditerPage {
        min-height: 600px;
        margin: 0 auto;
        display: flex;
        box-sizing: border-box;
    }
    
    .SurveyEditerPage .SurveyPreview {
        width: 70%;
        min-height: 1000px;
        max-height: none;
        border: 1px solid #ccc;
        margin: 3px 3px;
        padding: 20px 30px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .SurveyEditerPage .SideBar {
        width: 30%;
        min-height: 500px;
        position: initial;
        border: 1px solid #ccc;
        margin: 3px 3px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .SurveyEditerPage .Footer {
        text-align: center;
    }
    
    .SurveyEditerPage .Footer button {
        padding: 10px;
    }
    
    button {
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover,
    button:focus {
        color: white;
        background-color: #254E70;
    }
    
    button:active {
        color: white;
        background-color: #40A4C8;
    }
    
}

@media(min-width: 999px) {
    .SurveyEditerPage {
        width: 90%;
    }
} */

.SurveyEditerPage {
    width: 90%;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.SurveyEditerPage .SurveyPreview {
    width: 70%;
    min-height: 1000px;
    max-height: none;
    border: 1px solid #ccc;
    margin: 3px 3px;
    padding: 20px 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.SurveyEditerPage .SideBar {
    width: 30%;
    min-height: 500px;
    position: initial;
    border: 1px solid #ccc;
    margin: 3px 3px;
    border-radius: 5px;
    box-sizing: border-box;
}

.SurveyEditerPage .Footer {
    text-align: center;
}

.SurveyEditerPage .Footer button {
    padding: 10px;
}

button {
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    color: white;
    background-color: #3f51b5;
}

button:active {
    color: white;
    background-color: #2196f3;
}

.SmallScreen {
    display: none;
}

@media(max-width: 1000px) {
   .SurveyEditerPage {
        width: 98%;
   }
}

@media(max-width: 800px) {
    .SurveyEditerPage {
        width: 100%;
    }
    .SurveyEditerPage .SurveyPreview {
        width: 60%;
    }
    .SurveyEditerPage .SideBar {
        width: 40%;
    }
}


@media(max-width: 700px) {
    .SurveyEditerPage{
        display: none;
    }

    .SmallScreen {
        display: block;
        text-align: center;
    }
}   