.Survey {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.Survey ul {
    list-style: none;
    padding: 0;
}

.Title {
    color: #254E70;
    font-size: 1.85em;
}