.Survey {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 16px;
    background-color: rgba(204, 204, 204, 0.15);
}

.Survey ul {
    list-style: none;
    padding: 0;
}

.Title {
    color: #1a237e;
    font-size: 1.85em;
    margin: 0.6em auto;
}

.Rules {
    margin: 0;
    text-align: right;
    font-size: 0.9em;
    color: #e91e63;
}

.Block {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #e91e63;
    background-color: #ec40798f;
    padding: 10px;
    border: 2px solid #e91e63;
    border-radius: 10px;
    box-sizing: border-box;
}

.Success {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #1a237e;
}

.Error {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #e91e63;
}

@media(max-width: 900px) {
    .Survey {
        width: 90%;
        padding: 8px;
        padding-bottom: 16px;
    }
}

@media(max-width: 600px) {
    .Survey {
        width: 95%;
        padding: 5px;
        padding-bottom: 16px;
    }
}