.ReportTable table {
    font-size: 0.85em;
    width: 60vw;
    border-collapse: collapse;
}

.ReportTable table thead {
    background-color: #1a237e;
    color: #fff;
    font-size: 1.1em;
}

.ReportTable table tbody {
    background-color: #fff;
}

.ReportTable table td, .ResultsTable table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 5px;
    width: 300px;
    max-width: 300px;
}

@media(max-width: 780px) {
    .ReportTable table {
        width: 80vw;
    }
}

@media(max-width: 550px) {
    .ReportTable table td, .ResultsTable table th {
        max-width: 200px;
    }
}