.ReportItemWrapper {
    width: 90vw;
    padding: 8px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.3);
    box-sizing: border-box;
}

.ReportItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title {
    margin-left: 20px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.Graph {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 0.25em;
    font-size: 0.8em;
}