.TopMenuItem {
    margin: 5px 0;
    box-sizing: border-box;
    display: block;
    font-size: 1.25em;
    width: 100%;
}

.TopMenuItem a {
    color:#254E70;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.TopMenuItem a:hover,
.TopMenuItem a:active,
.TopMenuItem a.active {
    color: #254E70;
}

@media (min-width: 500px) {
    .TopMenuItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .TopMenuItem a {
        color: #254E70;
        height: 100%;
        width: auto;
        padding: 5px 10px;
        border-bottom: 4px solid transparent;
    }

    .TopMenuItem a:hover,
    .TopMenuItem a:active,
    .TopMenuItem a.active {
        background-color: white;
        border-bottom: 2px solid #254E70;
        color: #254E70;
    }
}