.OverviewEditer {
    border: 1px solid #ccc;
    padding: 2px 20px;
    margin: 10px 0;
    width: 55vw;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.1);
    box-sizing: border-box;
}

.OverviewEditer p,
.OverviewEditer h2 {
    margin: 0.75em 0;
}

.OverviewEditer h2 {
    color: #254E70;
}

.OverviewEditer a {
    margin-bottom: 5px;
    text-decoration: none;
    color: #e91e63;
    overflow: hidden;
    display: block;
    overflow-x: auto;
}

@media(max-width: 500px) {
    .OverviewEditer {
        width: 100%;
        margin: 5px 0;
    }
}