.QuestionList {
    width: 100%;
    list-style: none;
    padding: 0 10px;
    margin: 5px auto;
    box-sizing: border-box;
}

.QuestionList li {
    display: block;
    padding: 0 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 300ms;
}

.QuestionList li:hover {
    background-color: rgba(204, 204, 204, 0.2);
    border: 1px solid #3f51b5;
}
