.QuestionList {
    width: 100%;
    list-style: none;
    padding: 0 10px;
    margin: 5px auto;
    box-sizing: border-box;
}

.QuestionList li {
    display: block;
    padding: 10px;
    margin: 15px auto;
    background-color: rgba(238, 235, 235);
    border-radius: 10px;
    box-sizing: border-box;
}

.QuestionList li textarea {
    width: 90%;
    height: 4em;
}