.QuestionPreviewWrapper {
    padding: 10px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.GroupButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    box-sizing: border-box;
}

.GroupButton button {
    font-size: 0.9em;
    padding: 5px 4px;
    color: #fff;
    box-sizing: border-box;
}

@media(min-width: 799px) {
    .GroupButton button {
        margin: 0;
    }
}
