.QuestionListPanel {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.QuestionListPanel button {
    width: 100%;
    margin: 3px auto;
    padding: 12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}