.TopMenu {
    height: 40px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 90;
}

.TopMenu nav{
    height: 100%;
}

@media(max-width: 499px) {
    .TopMenu{
        display: none;
    }
}
